.modal {
    opacity: 0;
    visibility: hidden;
}

.modal.active {
    opacity: 1;
    visibility: visible;
}

.modal-layered {
    position: fixed;
    top: 150px;
    left: 100px;
    width: 370px;
    background-color: #fff;
    font-size: 14px;
    text-align: right;
    z-index: 99;  
    border: 1px solid #ccc;  
}

.popup-banner {
    width: 100%;
}

.popup-banner img {
 width: 100%;
}
.popup-banner a {
    color: #333;
}

.modal .form-group {
    padding-right: 10px;
    margin-bottom: 10px;
}
